body {
  font-family: "Bahnschrift", sans-serif;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigatiebar */

nav img {
  width: 50px;
}

nav {
  z-index: 1;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

nav li {
  display: inline-flex;
  justify-content: center;
  padding: 10px 25px 10px 25px;
}

nav a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.topnav img {
  padding: 20px;
  width: 75%;
  display: block;
  margin: auto;
}
.topnav {
  display: flex;
  justify-content: space-between;
}
.topnav div {
  display: flex;
  align-items: center;
}
.topnav a {
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-size: 12px;
}

#home {
  margin: 50px;
}
.search-container input[type="text"] {
  padding: 6px;
  margin-right: 10px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 50%;
  width: 350px;
}

.search-container button:hover {
  background: #ccc;
}
.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.input-group {
  position: relative;
  display: flex;
}

.input-group button {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  padding: 6px;
  opacity: 50%;
  padding: 0;
  font-size: 20px;
}

.search-button {
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
}

/* activities */

.activities {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(26, 97, 107, 0.09);
  padding: 15px;
}
h3 {
  margin: 25px;
  font-size: 25px;
}

.activities img {
  padding: 10px;
  height: 250px;
}

.activity {
  position: relative;
}
.activity-text {
  background-color: white;
  opacity: 90%;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: 3px;
  bottom: 10px;
  flex: 1;
  margin: 10px;
  font-size: 15px;
}
.activities p {
  padding: 3px;
}

.More {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  opacity: 90%;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.slider-container {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  white-space: nowrap;
}

.slider-item {
  width: 100%;
  display: inline-block;
}

.exhibitions {
  padding-bottom: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column; 
}

.exhibitions img {
  padding: 10px;
  height: 40%;
  width: 40%;

    
}

.exhibition {
  display: flex;
}
.exhibition p {
  padding: 15px 0;
  font-size: 16px;
}
h4 {
  font-size: 20px;
}

.exhi-text {
  padding: 10px 0;
  text-align: start;
}

.exhibition button {
  padding: 5px 10px;
  background-color: rgba(26, 97, 107, 0.9);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

