body{ 
  font-family: "Bahnschrift";
  color: #30616B;
  background-image: url("../images/image.png");
  background-size: cover;
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.alertgoup{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50%;
}

#alert1{
  line-height: 3;
  font-weight: bold;
  font-size: larger;
}

#alert2{
  line-height: 1.5;
}

#alert1::after,
#alert2::after{
  content: "\a";
  white-space: pre;
}

.skipBtn{
  text-align: center;
  margin-top: 40%;
}

.skipBtn button{
  background-color: transparent;
  outline: none;
  border: none;
  color: #30616B;
  cursor: pointer;
  font-family: "Bahnschrift";
  font-weight: bold;
  font-size: large;
}